
.portfolio__container {
    width: 85%;
    margin: 1rem auto;
}

.portfolio__cards {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 1rem;
}

.carousel {
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
}


/* individual card styles */
.portfolio__card {
    padding: 1.8rem;
    border: 1px solid transparent;
    border-radius: 3rem;
    background-color: var(--color-bg-variant);
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1.5rem;
}

.portfolio__skills > ul > li {
    text-align: left;
    margin-left: 2rem;
}

/* skills category */
.portfolio__skills > h2 {
    text-align: center;
    color: var(--color-primary);
}

/* project description category */
.portfolio__card >div> h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-primary)
}
.portfolio__card >div> img {
    border-radius: 2rem;
    margin: auto;
}
.portfolio__card >div> small {
    text-align: left;
    color: var(--color-white);
    margin-left: 0.6rem;
}

/* styles for the pages displayed at the bottom of the carousel--------------- */
.page__counter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.selected__page {
    /* styles for selected dot */
    font-size: 3rem;
    color: var(--color-primary);
}
.page__dot {
    /* styles for each dot */
    font-size: 3rem;
    color: var(--color-primary-variant);
    
}

/* styles for page navigation ----------------------------- */
.page__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.arrow__btn {
    height: max-content;
    border-radius: 3rem;
    margin-top: 2.4rem;
    padding: 0 0.6rem;
    
}


/* ================ MEDIA QUERIES ===============*/

@media screen and (max-width: 1024px) {
    .portfolio__cards{
        grid-template-columns: 1fr;
        /* gap: 0; */
    }
  }
  
  @media screen and (max-width: 600px) {
    
  }
